.blurr {
    filter: blur(4px);
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

html {
    background: url(./img/rocket-launch-gd92c23569_1920.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: top;
}

.bold {
    font-weight: bolder;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.rocket-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.data-sheet {
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 10vh;
    top: 10vh;
    left: 20vw;
    right: 20vw;
    min-height: 100vh;

}

.card {
    width: 20rem;
    height: 42rem !important;
    margin-top: 10%;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-text, .card-title {
    color: black;
    font-weight: bold;
}

.card-input {
    width: 90%;
}

.card img {
    height: 15rem;
    object-fit: cover;

}

.card-btn {
    display: flex;
    justify-content: space-evenly;
    width: inherit;
    margin-bottom: 1rem;
}

.btn-close {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 2em !important;
    height: 2em !important;
}

.btn-fw {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 2em !important;
    height: 2em !important;
}

.btn-bw {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 2em !important;
    height: 2em !important;
}

.btn-close-img {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 2em !important;
    height: 2em !important;
}

.overlay {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    right: 0%;
    min-height: 100vh;
}

.zoomed-img {
    max-width: 85vw;
    height: 90vh !important;
    object-fit: scale-down;
    opacity: 1 !important;
}


@media (max-width: 1500px) {
    .btn-fw {
        right: 3%;
    }

    .btn-bw {
        left: 3%;
    }
}

@media (max-width: 1024px) {
    .btn-fw {
        right: 2%;
    }

    .btn-bw {
        left: 2%;
    }
}

@media (max-width: 700px) {
    .btn-bw .btn-fw {
        width: 1em !important;
    }

    .btn-close-img {
        top: 20%;
    }
}